
.parent{
    background: linear-gradient(to bottom right,rgba(240,147,251,0.7),rgba(245,87,108,0.7));
    overflow: hidden;
  }
.child{
    border: 2px solid grey;
    background-color: white;
    width:50%
   
}
.heading h1,p{
    text-align:center
}
@media screen and (max-width: 576px) {
    .child{
        width: 100%;
    }
}

